body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #d5d5d5;
}

.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ede8d0;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
    width: 400px;
    margin: auto;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px1;
}

.guess_button {
    background-color: #ff3333;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.guess_button:hover {
    background-color: #E74C3C;
    transform: scale(1.05);
}

.guess_button:active {
    background-color: #C0392B;
    transform: scale(0.95);
}

.resultDiv {
    font-size: 20px;
    margin-top: 15px;
    color: #333;
    display: none;
}
